<div id="errorDiv">
	<div class="fof">
		<h1>Error 404: Page Not Found</h1>
	</div>
	<div class="fof">
		<a href="/">
			<button class="btn btn-outline-secondary btn-lg">Go Back</button>
		</a>
	</div>
</div>
