<div class="formDiv">
	<a href="/teacher/login">
		<button type="button" class="btn btn-outline-success btn-lg">
			Teacher Login
		</button>
	</a>
	<a href="/student/login">
		<button type="button" class="btn btn-outline-success btn-lg">
			Student Login
		</button>
	</a>
	<!-- <button type="button" class="btn btn-primary">
		<a href="/teacher/login">Teacher Login</a>
	</button>

	<button type="button" class="btn">
		<a href="/student/login">Student Login</a>
	</button> -->
</div>
